<!DOCTYPE html>
<html lang="en">
<head>
   <% include /templates/head %>
</head>
<body class="hold-transition skin-blue sidebar-mini"> 
    
    <div class="wrapper">   
        <% include /templates/header %>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    Cadastro de Empresa
                    <small>Edição</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> DASHBOARD</a></li>
                    <li><a href="#">CADASTRO</a></li>
                    <li class="active">EMPRESA</li>
                </ol>
            </section>
    
            <section class="content">

                <!-- Default box -->
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">EDIÇÃO DE CADASTRO</h3>
              
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <form role="form" action="/salvarEmpresa" method="post">
                            
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Registro</label>
                                        <input type="text" id="id" name="id" class="form-control" placeholder="Registro" readonly="true" value="<%= empresas.length > 0 ? empresas[0].id : '' %>">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Cnpj</label>
                                        <input type="text" id="cnpj" name="cnpj" class="form-control" placeholder="Cnpj da empresa" required="true" value="<%= empresas.length > 0 ? empresas[0].cnpj : '' %>">
                                        <span class="help-block">Obrigatório</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Fantasia</label>
                                        <input type="text" id="nome" name="nome" class="form-control" placeholder="Nome da empresa" required="true" value="<%= empresas.length > 0 ? empresas[0].nome : '' %>">
                                        <span class="help-block">Obrigatório</span>
                                    
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Razão</label>
                                        <input type="text" id="razao" name="razao" class="form-control" placeholder="Razão da empresa" required="true" value="<%= empresas.length > 0 ? empresas[0].razao : '' %>">
                                        <span class="help-block">Obrigatório</span>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Fone</label>
                                        <input type="text" id="fone" name="fone" class="form-control" placeholder="Fone da empresa" value="<%= empresas.length > 0 ? empresas[0].fone : '' %>">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>E-mail</label>
                                        <input type="text" id="email" name="email" class="form-control" placeholder="E-mail da empresa" value="<%= empresas.length > 0 ? empresas[0].email : '' %>">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Cep</label>
                                        <input type="text" id="cep" name="cep" class="form-control" placeholder="Cep da empresa" value="<%= empresas.length > 0 ? empresas[0].cep : '' %>">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Endereço</label>
                                        <input type="text" id="endereco" name="endereco" class="form-control" placeholder="Endereço da empresa" value="<%= empresas.length > 0 ? empresas[0].endereco : '' %>">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Número</label>
                                        <input type="text" id="numero" name="numero" class="form-control" placeholder="Número da empresa" value="<%= empresas.length > 0 ? empresas[0].numero : '' %>">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label>Complemento</label>
                                        <input type="text" id="complemento" name="complemento" class="form-control" placeholder="Complemento da empresa" value="<%= empresas.length > 0 ? empresas[0].complemento : '' %>">
                                    </div>
                                </div>
                            </div>    

                            <div class="row">

                                <div class="col-md-2">
                                
                                    <label>Uf</label>
                                    <select class="form-control" name="uf">
                                        <option value="">Selecione</option>
                                        <option value="AC" <%= empresas.length > 0 && empresas[0].uf == 'AC' ? 'selected' : '' %>" >AC</option>
                                        <option value="AL" <%= empresas.length > 0 && empresas[0].uf == 'AL' ? 'selected' : '' %>">AL</option>
                                        <option value="AP" <%= empresas.length > 0 && empresas[0].uf == 'AP' ? 'selected' : '' %>">AP</option>
                                        <option value="AM" <%= empresas.length > 0 && empresas[0].uf == 'AM' ? 'selected' : '' %>">AM</option>
                                        <option value="BA" <%= empresas.length > 0 && empresas[0].uf == 'BA' ? 'selected' : '' %>">BA</option>
                                        <option value="CE" <%= empresas.length > 0 && empresas[0].uf == 'CE' ? 'selected' : '' %>">CE</option>
                                        <option value="DF" <%= empresas.length > 0 && empresas[0].uf == 'DF' ? 'selected' : '' %>">DF</option>
                                        <option value="GO" <%= empresas.length > 0 && empresas[0].uf == 'GO' ? 'selected' : '' %>">GO</option>
                                        <option value="MA" <%= empresas.length > 0 && empresas[0].uf == 'MA' ? 'selected' : '' %>">MA</option>
                                        <option value="MT" <%= empresas.length > 0 && empresas[0].uf == 'MT' ? 'selected' : '' %>">MT</option>
                                        <option value="MS" <%= empresas.length > 0 && empresas[0].uf == 'MS' ? 'selected' : '' %>">MS</option>
                                        <option value="MG" <%= empresas.length > 0 && empresas[0].uf == 'MG' ? 'selected' : '' %>">MG</option>
                                        <option value="PA" <%= empresas.length > 0 && empresas[0].uf == 'PA' ? 'selected' : '' %>">PA</option>
                                        <option value="PB" <%= empresas.length > 0 && empresas[0].uf == 'PB' ? 'selected' : '' %>">PB</option>
                                        <option value="PR" <%= empresas.length > 0 && empresas[0].uf == 'PR' ? 'selected' : '' %>">PR</option>
                                        <option value="PE" <%= empresas.length > 0 && empresas[0].uf == 'PE' ? 'selected' : '' %>">PE</option>
                                        <option value="PI" <%= empresas.length > 0 && empresas[0].uf == 'PI' ? 'selected' : '' %>">PI</option>
                                        <option value="RJ" <%= empresas.length > 0 && empresas[0].uf == 'RJ' ? 'selected' : '' %>">RJ</option>
                                        <option value="RN" <%= empresas.length > 0 && empresas[0].uf == 'RN' ? 'selected' : '' %>">RN</option>
                                        <option value="RS" <%= empresas.length > 0 && empresas[0].uf == 'RS' ? 'selected' : '' %>">RS</option>
                                        <option value="RO" <%= empresas.length > 0 && empresas[0].uf == 'RO' ? 'selected' : '' %>">RO</option>
                                        <option value="SC" <%= empresas.length > 0 && empresas[0].uf == 'SC' ? 'selected' : '' %>">SC</option>
                                        <option value="SP" <%= empresas.length > 0 && empresas[0].uf == 'SP' ? 'selected' : '' %>">SP</option>
                                        <option value="SE" <%= empresas.length > 0 && empresas[0].uf == 'SE' ? 'selected' : '' %>">SE</option>
                                        <option value="TO" <%= empresas.length > 0 && empresas[0].uf == 'TO' ? 'selected' : '' %>">TO</option>
                                    </select>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Cidade</label>
                                        <input type="text" id="cidade" name="cidade" class="form-control" placeholder="Cidade da empresa">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Bairro</label>
                                        <input type="text" id="bairro" name="bairro" class="form-control" placeholder="Bairro da empresa">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-success">
                                <i class="fa fa-save"></i> Salvar
                            </button>
                            
                            <a href="/empresa" class="btn btn-danger btn-circle btn-xl"><i class="fa fa-times"></i> Cancelar</a>
                            
                        </div>
                        <!-- /.box-footer-->
                    </form>
                </div>
                    <!-- /.box -->
              
            </section>
            
            <div class="modal modal-success fade" id="modal-success">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Confirmação de cadastro</h4>
                        </div>
                        <div class="modal-body">
                            <p>Deseja Salvar o Registro?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-outline">Confirma</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
          
            
        </div>
        <!-- /.content-wrapper -->     
        <% include /templates/footer %>
        
    </div>
    <% include /templates/scripts %>
</body>
</html>
