<!DOCTYPE html>
<html lang="en">

<head>
    <% include /templates/head %>
</head>

<body class="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">
        <% include /templates/header %>

            <div class="content-wrapper">
                <section class="content-header">
                    <h1>
                        PESSOA
                        <small>CADASTRO DE PESSOA</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-dashboard"></i> Principal</li>
                    </ol>
                </section>

                <section class="content">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">LISTA DE PESSOAS</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-default-inserir">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <div class="modal fade" id="modal-default-inserir">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title">Incluisão de Dados</h4>
                                            </div>
                                            <form role="form" action="/salvarPessoa" method="post">

                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <label for="exampleInputEmail1">Id</label>
                                                            <input type="text" class="form-control" placeholder="id" required="true" readonly="true">
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <label for="exampleInputEmail1">Cpf/Cnpj</label>
                                                            <input type="text" name="cpf" class="form-control" placeholder="Cnpj" required="true" maxlength="18">
                                                        </div>
                                                        <div class="col-xs-12">
                                                            <label for="exampleInputEmail1">Nome</label>
                                                            <input type="text" name="nome" class="form-control" placeholder="Nome" required="true" maxlength="200">
                                                        </div>
                                                        <div class="col-xs-12">
                                                            <label>Tipo</label>
                                                            <select class="form-control select2" name="tipo" style="width: 100%;">
                                                                <% for( var e = 0; e < tipos.length; e++ ) { %>
                                                                    <option value="<%= tipos[e].id %>"><%= tipos[e].nome %></option>
                                                                
                                                                <% } %>
                                                            
                                                            </select>
                                                        </div>
                                                       
                                                        <div class="col-xs-6">
                                                            <label for="exampleInputEmail1">Fone</label>
                                                            <input type="text" name="fone" class="form-control" placeholder="Fone" maxlength="30">
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <label for="exampleInputEmail1">E-mail</label>
                                                            <input type="text" name="email" class="form-control" placeholder="E-mail" maxlength="200">
                                                        </div>
                                                        <div class="col-xs-3">
                                                            <label for="exampleInputEmail1">Cep</label>
                                                            <input type="text" name="cep" class="form-control" placeholder="Cep" maxlength="9">
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <label for="exampleInputEmail1">Endereço</label>
                                                            <input type="text" name="endereco" class="form-control" placeholder="Endereço" maxlength="200">
                                                        </div>
                                                        <div class="col-xs-3">
                                                            <label for="exampleInputEmail1">Número</label>
                                                            <input type="text" name="numero" class="form-control" placeholder="Número" maxlength="30">
                                                        </div>
                                                        <div class="col-xs-12">
                                                            <label for="exampleInputEmail1">Complemento</label>
                                                            <input type="text" name="complemento" class="form-control" placeholder="Complemento" maxlength="200">
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <label for="exampleInputEmail1">Uf</label>
                                                            <input type="text" name="uf" class="form-control" placeholder="Uf" maxlength="2">
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <label for="exampleInputEmail1">Cidade</label>
                                                            <input type="text" name="cidade" class="form-control" placeholder="Cidade" maxlength="200">
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <label for="exampleInputEmail1">Bairro</label>
                                                            <input type="text" name="bairro" class="form-control" placeholder="Bairro" maxlength="200">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal" onclick="window.location.href='/pessoa'">Cancelar</button>
                                                    <button type="submit" class="btn btn-primary">Salvar</button>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                                <!-- /.modal -->
                            </div>
                        </div>
                        <div class="box-body">
                            <% if ( pessoas.length ) { %>
                                <table id="grade" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Cpf/Cnpj</th>
                                            <th>Nome</th>
                                            <th>Editar/Excluir</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <% for( var i = 0; i < pessoas.length; i ++ ) { %>
                                            <tr>
                                                <td>
                                                    <%= pessoas[i].id %>
                                                </td>
                                                <td>
                                                    <%= pessoas[i].cpf %>
                                                </td>
                                                <td>
                                                    <%= pessoas[i].nome %>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-default-editar-<%= pessoas[i].id %>">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger-remove-<%= pessoas[i].id %>">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <div class="modal fade" id="modal-default-editar-<%= pessoas[i].id %>">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                            <form role="form" action="/salvarPessoa" method="post">
                                            
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                    <h4 class="modal-title">Edição de Dados</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-xs-6">
                                                                            <label for="exampleInputEmail1">Id</label>
                                                                            <input type="text" name="id" class="form-control" placeholder="id" required="true" readonly="true" value="<%= pessoas[i].id %>">
                                                                        </div>
                                                                        <div class="col-xs-6">
                                                                            <label for="exampleInputEmail1">Cpf/Cnpj</label>
                                                                            <input type="text" name="cpf" class="form-control" placeholder="Cnpj" required="true" maxlength="18" value="<%= pessoas[i].cpf %>">
                                                                        </div>
                                                                        <div class="col-xs-12">
                                                                            <label for="exampleInputEmail1">Nome</label>
                                                                            <input type="text" name="nome" class="form-control" placeholder="Nome" required="true" maxlength="200" value="<%= pessoas[i].nome %>">
                                                                        </div>
                                                                        <div class="col-xs-12">
                                                                            <label>Tipo</label>
                                                                            <select class="form-control select2" style="width: 100%;" name="tipo">
                                                                                <% for( var e = 0; e < tipos.length; e++ ) { %>
                                                                                    <% if( tipos[e].id == pessoas[i].tipo ) { %>
                                                                                        <option value="<%= tipos[e].id %>" selected="selected" > <%= tipos[e].nome %> </option>
                                                                                    <% } else { %>
                                                                                        <option value="<%= tipos[e].id %>"> <%= tipos[e].nome %> </option>
                                                                                    <% } %>
                                                                                <% } %>
                                                                              
                                                                            </select>
                                                                        </div>
                                                                        
                                                                        <div class="col-xs-6">
                                                                            <label for="exampleInputEmail1">Fone</label>
                                                                            <input type="text" name="fone" class="form-control" placeholder="Fone" maxlength="30" value="<%= pessoas[i].fone %>">
                                                                        </div>
                                                                        <div class="col-xs-6">
                                                                            <label for="exampleInputEmail1">E-mail</label>
                                                                            <input type="text" name="email" class="form-control" placeholder="E-mail" maxlength="200" value="<%= pessoas[i].email %>">
                                                                        </div>
                                                                        <div class="col-xs-3">
                                                                            <label for="exampleInputEmail1">Cep</label>
                                                                            <input type="text" name="cep" class="form-control" placeholder="Cep" maxlength="9" value="<%= pessoas[i].cep %>">
                                                                        </div>
                                                                        <div class="col-xs-6">
                                                                            <label for="exampleInputEmail1">Endereço</label>
                                                                            <input type="text" name="endereco" class="form-control" placeholder="Endereço" maxlength="200" value="<%= pessoas[i].endereco %>">
                                                                        </div>
                                                                        <div class="col-xs-3">
                                                                            <label for="exampleInputEmail1">Número</label>
                                                                            <input type="text" name="numero" class="form-control" placeholder="Número" maxlength="30" value="<%= pessoas[i].numero %>">
                                                                        </div>
                                                                        <div class="col-xs-12">
                                                                            <label for="exampleInputEmail1">Complemento</label>
                                                                            <input type="text" name="complemento" class="form-control" placeholder="Complemento" maxlength="200" value="<%= pessoas[i].complemento %>">
                                                                        </div>
                                                                        <div class="col-xs-4">
                                                                            <label for="exampleInputEmail1">Uf</label>
                                                                            <input type="text" name="uf" class="form-control" placeholder="Uf" maxlength="2" value="<%= pessoas[i].uf %>">
                                                                        </div>
                                                                        <div class="col-xs-4">
                                                                            <label for="exampleInputEmail1">Cidade</label>
                                                                            <input type="text" name="cidade" class="form-control" placeholder="Cidade" maxlength="200" value="<%= pessoas[i].cidade %>">
                                                                        </div>
                                                                        <div class="col-xs-4">
                                                                            <label for="exampleInputEmail1">Bairro</label>
                                                                            <input type="text" name="bairro" class="form-control" placeholder="Bairro" maxlength="200" value="<%= pessoas[i].bairro %>">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal" onclick="window.location.href='/pessoa'">Cancelar</button>
                                                                    <button type="submit" class="btn btn-primary">Salvar</button>
                                                                </div>                                                                
                                                            </form>

                                                        </div>
                                                        <!-- /.modal-content -->
                                                    </div>
                                                    <!-- /.modal-dialog -->
                                            </div>
                                            <!-- /.modal -->
                                            <div class="modal modal-danger fade" id="modal-danger-remove-<%= pessoas[i].id %>">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <form role="form" action="/excluirPessoa/<%=  pessoas[i].id   %>" method="GET">
                                            
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span></button>
                                                                <h4 class="modal-title">Exclusão de Registro</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>Deseja realmente excluír o registro?</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" onclick="window.location.href='/pessoa'">Não</button>
                                                                <button type="submit" class="btn btn-outline">Sim</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>
                                            <!-- /.modal -->
                                        <% } %>
                                           
                                    </tbody>
                                </table>
                                <% } %>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            LISTA DE PESSOAS
                        </div>
                        <!-- /.box-footer-->
                    </div>

                </section>
            </div>
            <% include /templates/footer %>
            <div class="control-sidebar-bg"></div>
    </div>
    <% include /templates/scripts %>
</body>

</html>