<!DOCTYPE html>
<html lang="en">

<head>
    <% include /templates/head %>
</head>

<body class="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">
        <% include /templates/header %>

            <div class="content-wrapper">
                <section class="content-header">
                    <h1>
                        TIPO
                        <small>CADASTRO DE TIPO</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-dashboard"></i> Principal</li>
                    </ol>
                </section>

                <section class="content">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">LISTA DE TIPOS</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-default-inserir">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <div class="modal fade" id="modal-default-inserir">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title">Incluisão de Dados</h4>
                                            </div>
                                            <form role="form" action="/salvarTipo" method="post">

                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <label for="exampleInputEmail1">Id</label>
                                                            <input type="text" class="form-control" placeholder="id" required="true" readonly="true">
                                                        </div>
                                                        
                                                        <div class="col-xs-12">
                                                            <label for="exampleInputEmail1">Nome</label>
                                                            <input type="text" name="nome" class="form-control" placeholder="Nome" required="true" maxlength="200">
                                                        </div>                                                        
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal" onclick="window.location.href='/tipo'">Cancelar</button>
                                                    <button type="submit" class="btn btn-primary">Salvar</button>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                                <!-- /.modal -->
                            </div>
                        </div>
                        <div class="box-body">
                            <% if ( tipos.length ) { %>
                                <table id="grade" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Id</th>                                            
                                            <th>Nome</th>
                                            <th>Editar/Excluir</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <% for( var i = 0; i < tipos.length; i ++ ) { %>
                                            <tr>
                                                <td>
                                                    <%= tipos[i].id %>
                                                </td>
                                                <td>
                                                    <%= tipos[i].nome %>
                                                </td>
                                               
                                                <td>
                                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-default-editar-<%= tipos[i].id %>">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger-remove-<%= tipos[i].id %>">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <div class="modal fade" id="modal-default-editar-<%= tipos[i].id %>">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                            <form role="form" action="/salvarTipo" method="post">
                                            
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                    <h4 class="modal-title">Edição de Dados</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-xs-6">
                                                                            <label for="exampleInputEmail1">Id</label>
                                                                            <input type="text" name="id" class="form-control" placeholder="id" required="true" readonly="true" value="<%= tipos[i].id %>">
                                                                        </div>
                                                                       
                                                                        <div class="col-xs-12">
                                                                            <label for="exampleInputEmail1">Nome</label>
                                                                            <input type="text" name="nome" class="form-control" placeholder="Nome" required="true" maxlength="200" value="<%= tipos[i].nome %>">
                                                                        </div>
                                                                        
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal" onclick="window.location.href='/tipo'">Cancelar</button>
                                                                    <button type="submit" class="btn btn-primary">Salvar</button>
                                                                </div>                                                                
                                                            </form>

                                                        </div>
                                                        <!-- /.modal-content -->
                                                    </div>
                                                    <!-- /.modal-dialog -->
                                            </div>
                                            <!-- /.modal -->
                                            <div class="modal modal-danger fade" id="modal-danger-remove-<%= tipos[i].id %>">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <form role="form" action="/excluirTipo/<%=  tipos[i].id   %>" method="GET">
                                            
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span></button>
                                                                <h4 class="modal-title">Exclusão de Registro</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>Deseja realmente excluír o registro?</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" onclick="window.location.href='/tipo'">Não</button>
                                                                <button type="submit" class="btn btn-outline">Sim</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>
                                            <!-- /.modal -->
                                        <% } %>
                                           
                                    </tbody>
                                </table>
                                <% } %>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            LISTA DE TIPOS
                        </div>
                        <!-- /.box-footer-->
                    </div>

                </section>
            </div>
            <% include /templates/footer %>
            <div class="control-sidebar-bg"></div>
    </div>
    <% include /templates/scripts %>
</body>

</html>